#body {
    background-color: #fffcf2; 
    color: black;
    font-family: "Roboto", sans-serif;
    padding: 5%
}

#header {
    background-color: #fff3c9;
    color: black;
    font-family: "Roboto", sans-serif;
}

footer {
    background-color: #fff3c9;
    color: black;
    font-family: "Roboto", sans-serif;
    padding: 0%;
    margin:0%;
}